@ac.page("Demo Macro") {
@ac.aui.all()
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
} {
    <div id="docList" style="background-image: url(/assets/images/docList2OnlyNormalSongTitle.png); width: 640px; height: 540px;"><br/></div>
        <script>
            $("#docList").click(function(e){
                $('#docList').css('background-image','url(/assets/images/docList2OnlyNormalSongTitleSelect.png)');
            });
        </script>
        <script>
            AP.Dialog.getContentId(function(contentId) {
                console.log(contentId);
                var macroParams = {
                    contentId : contentId,
                    macro : {
                        name : "Lucidchart",
                        params : { "width": 750, "height": 500, "name": "myDiagram", "id": "4b1e-1e78-5141ef9d-8751-21630a005798" },
                        defaultParameterValue : "",
                        body : ""
                    }
                };
                AP.Dialog.insertMacro(macroParams);
            });
        </script>
}